<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dog of the day</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</head>
<body>
    <div id="app">
        <h1>Dog of the day!</h1>
        <div v-if="!imageShown"></div>
        <button @click="pressButton(0)" :disabled="buttons[0]">Press to see dog</button>
        <button @click="pressButton(1)" :disabled="buttons[1]">Press to see dog</button>
        <button @click="pressButton(2)" :disabled="buttons[2]">Press to see dog</button>
        <button @click="pressButton(3)" :disabled="buttons[3]">Press to see dog</button>
    </div>

    <div v-if="imageShown">
        <img :src="dogImage" alt="Dog of the day">
    </div>

    <script>
        const {createApp, ref} = Vue;
        createApp({
            setup() {
                const dogImage = ref('');
                const buttons = ref([false, false, false, false]);
                const imageShown = ref(false);

                const pressButton = async (iindex) => {
                    buttons.value[index] = true;
                    if (buttons.value.every(val=>val)) {
                        const res = await fetch('https://dog.ceo/api/breeds/image/random');
                        const data = await res.json();
                        dogImage.value = data.message;
                        imageShown.value
                    }
                }


                onMounted(async () => {
                    const res = await fetch('https://dog.ceo/api/breeds/image/random');
                    const data = await res.json();
                    dogImage.value = data.message;
                });
                return {dogImage};
                }
        }) .mount('#app');
    </script>
</body>
</html>